PORT=4000
MONGODB_URI=mongodb+srv://lukguz99_db_user:VjyVkfZRdi3LLZZS@barber-cluster.ccfrtmd.mongodb.net/barberia
JWT_SECRET=533ebdace1a0c3aaebeca5097934e91694189983aaa4df34afe4cbf83a1e0bee
JWT_EXPIRES_IN=7d
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=testhastingdev@gmail.com
MAIL_PASS=uasn lfkp lgiv hmjw
FRONTEND_URL=https://barb-app-ashen.vercel.app
# Para desarrollo local usar:
# FRONTEND_URL=http://localhost:5173
ADMIN_EMAIL=admin@barberia.com
ADMIN_PASSWORD=password_seguro
