PORT=4000
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/<dbname>
JWT_SECRET=tu_secreto_jwt
JWT_EXPIRES_IN=7d
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=tu_email@gmail.com
MAIL_PASS=tu_app_password
FRONTEND_URL=http://localhost:5173
ADMIN_EMAIL=admin@barberia.com
ADMIN_PASSWORD=password_seguro
